html{
    scroll-behavior: smooth;
}


body{
    background-color: lightsteelblue;    
}

table, tr, th, td{
    border: 1px solid #2505f8;
}

.gambar{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

.text-center{
    margin-top: 50px;
    font-family: 'Roboto Slab', serif;
}

.card-img-top{
    height: 210px;
}

#img-p{
    height: 200px;
}

.icon{
    height: 30px;
}